<!DOCTYPE html>
<html lang="ko">
  <head>
  
  	<title>보비 메인</title>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link href="/css/b_top-bottom.css" rel="stylesheet">	

    <!--JS-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--script src="/js/materialize.js"></script-->
     
  </head>

<body>
	<div id="bottom">
		<div class="container">
			<div class="row" align="left" style="margin:0">
				<div class="col-sm-4 col-xs-12">
				<p>㈜ vipworks 대표이사 | 정우석</p>
				<p><span><a href="/personal">개인정보취급방침</a></span>&nbsp
				<span><a href="/personal">이용약관</a></span><br>담당자 | 정우석</p>
				<p>주소  | 서울특별시 강남구 테헤란로 33길 39, <br class="web-n">3층(역삼동, 혜성빌딩)</p><br>
				</div>
				<div class="col-sm-4 col-xs-12">
				<p>사업자 등록번호 | 591-87-00846</p>
				<p>통신판매업신고 | 제2018-서울강남-02054호</p><br>
				</div>
				<div class="col-sm-4 col-xs-12">
				<p>이메일 | vipworks@naver.com</p>
				<p>고객센터 | 070-7774-1812 <br class="web-n">(오전9시~오후5시, 토요일/공휴일 휴무)</p>	
				</div>
			</div>
			<div class="sns">
			<div class="col-xs-12" align="center">
				<!-- a href="/"><span>facebook</span></a>
				<a href="/"><span>naver blog</span></a>
				<a href="/"><span>youtube</span></a>
				<a href="/"><span>instagram</span></a-->
				<p>Copyright ⓒ vipworks Inc.All Rights Reserved.</p>
			</div>
			</div>
		</div>
	</div>
	  	
</body>
</html>
