<!DOCTYPE html>
<html lang="ko">
  <head>
  
  	<title>보비 콘텐츠 디테일</title>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link href="/css/b_contents.css" rel="stylesheet">
	
    <!--JS-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--script src="/js/materialize.js"></script-->
   
 	<style>
    	@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
    </style>
     
  </head>

<body>
	<% include b_top %>
	
	<div class="con-thum" align="center">
	<div class="black-box">
		<div class="container">
		<h3 class="con-title"><%= contents[0].con_title %></h3>
		<h5 class="con-date" align="right"><%= contents[0].con_upDate %></h5>
		</div>
	</div>
	</div>
	<div class="con-info">
		<div class="container" align="left">
			<%- contents[0].con_content %>			
		</div>
	</div>
	
	<!-- 콘텐츠 공유 -->
	<div class="" align="center">
	
	</div>
	
	
	<!-- 추천 콘텐츠 리스트 -->
	<div class="con-list" align="center">
		<div class="container">
		<div class="row" align="left">
			<div class="col-xs-12">
				<h5 align="left"><b>추천콘텐츠</b></h5>
			</div>
			<div class="col-sm-4 col-xs-12">
				<a href="/conde">
					<div class="thumnail"><img class="img-responsive" src="/page_imgs/con-list/1.jpg"></div>
					<div class="title">당신의 삶이 새롭게 변화되고 있다는걸 아세요?</div>
				</a>
			</div>
			<div class="col-sm-4 col-xs-12">
				<a href="/conde">
					<div class="thumnail"><img class="img-responsive" src="/page_imgs/con-list/2.jpg"></div>
					<div class="title">주식을 할 때 암호화폐 비트코인을 모르면 절대 안된답니다!</div>
				</a>	
			</div>
			<div class="col-sm-4 col-xs-12">
				<a href="/conde">
					<div class="thumnail"><img class="img-responsive" src="/page_imgs/con-list/3.jpg"></div>
					<div class="title">돈으로 돈을 버는 방법</div>
				</a>	
			</div>																								
		</div>
		</div>
	</div>
	
	
	<% include b_bottom %>  	
</body>
</html>
