<!DOCTYPE html>
<html lang="ko">
  <head>
  
  	<title>보비 콘텐츠</title>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link href="/css/b_contents.css" rel="stylesheet">
	
    <!--JS-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--script src="/js/materialize.js"></script-->
   
 	<style>
    	@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
    </style>
     
  </head>

<body>
	<% include b_top %>
	
	<div class="main-bg">
		<div class="container">
		<h2>보비만의 콘텐츠</h2>
		<h4>유익한 정보, 풍부한 경제 지식</h4>
		<h3 class="font1">
			당신을 위한 당신에 의한<br>
			유익하고 풍부한 내용으로 당신의 삶을 새롭게!
		</h3>
		</div>
	</div>
	<div class="con-cate" align="center">
		<div class="container">
			<a href="/"><p>전체</p></a>
			<a href="/"><p>경제</p></a>
			<a href="/"><p>주식</p></a>
			<a href="/"><p>부동산</p></a>
			<a href="/"><p>보험</p></a>
		</div>
	</div>
	<div class="con-list" align="center">
		<div class="row container" align="left">
			<div class="col-sm-4 col-xs-6">
				<a href="/conde">
					<div class="thumnail"><img class="img-responsive" src="/page_imgs/con-list/1.jpg"></div>
					<div class="title">당신의 삶이 새롭게 변화되고 있다는걸 아세요?</div>
				</a>	
			</div>
			<div class="col-sm-4 col-xs-6">
				<a href="/conde">
					<div class="thumnail"><img class="img-responsive" src="/page_imgs/con-list/2.jpg"></div>
					<div class="title">주식을 할 때 암호화폐 비트코인을 모르면 절대 안된답니다!</div>
				</a>	
			</div>
			<div class="col-sm-4 col-xs-6">
				<a href="/conde">
					<div class="thumnail"><img class="img-responsive" src="/page_imgs/con-list/3.jpg"></div>
					<div class="title">돈으로 돈을 버는 방법</div>
				</a>	
			</div>
			<div class="col-sm-4 col-xs-6">
				<a href="/conde">
					<div class="thumnail"><img class="img-responsive" src="/page_imgs/con-list/4.jpg"></div>
					<div class="title">당신의 삶이 새롭게 변화되고 있다는걸 아세요?</div>
				</a>	
			</div>
			<div class="col-sm-4 col-xs-6">
				<a href="/conde">
					<div class="thumnail"><img class="img-responsive" src="/page_imgs/con-list/5.jpg"></div>
					<div class="title">당신의 삶이 새롭게 변화되고 있다는걸 아세요?</div>
				</a>	
			</div>
			<div class="col-sm-4 col-xs-6">
				<a href="/conde">
					<div class="thumnail"><img class="img-responsive" src="/page_imgs/con-list/6.jpg"></div>
					<div class="title">당신의 삶이 새롭게 변화되고 있다는걸 아세요?</div>
				</a>	
			</div>																									
		</div>
	</div>
	
	
	
	<% include b_bottom %>  	
</body>
</html>
