<!DOCTYPE html>
<html lang="ko">
  <head>
  	<title>보비 콘텐츠</title>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link href="/css/b_contents.css" rel="stylesheet">
	
    <!--JS-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--script src="/js/materialize.js"></script-->

    <link rel="shortcut icon" href="/page_imgs/favicon.ico"/>
	<link rel="icon" href="/page_imgs/favicon.ico"/>
   
 	<style>
    	@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
    </style>
     
  </head>

<body>
	<% include b_top %>
	
	<div class="main-bg">
		<div class="container">
		<h2>보비만의 콘텐츠!</h2>
		<h4>유익한 정보, 풍부한 경제 지식</h4>
		<h3 class="font1">
			당신을 위한 당신에 의한<br>
			유익하고 풍부한 내용으로 당신의 삶을 새롭게!
		</h3>
		</div>
	</div>
	<div class="con-cate" align="center">
		<div class="container">
			<a href="/conlist"><p>전체</p></a>
			<a href="/conlist/1"><p>경제</p></a>
			<a href="/conlist/2"><p>주식</p></a>
			<a href="/conlist/3"><p>부동산</p></a>
			<a href="/conlist/4"><p>보험</p></a>
		</div>
	</div>

	<!--콘텐츠뿌림-->

	<div class="con-list" align="center">
		<div class="container">
			<div class="row" align="left">
				<% for(var i=0; i < contents.length; i++) { %>
				<div class="col-sm-4 col-xs-12">
					<a href="/conde/<%= contents[i].con_no %>">
						<div class="thumnail"><img class="img-responsive" src="<%= contents[i].con_photo %>"></div>
						<div class="title"><%= contents[i].con_title %></div>
					</a>	
				</div>
				<% } %>
			</div>
		</div>
	</div>
	<% include b_bottom %>  	
</body>
</html>
