<!DOCTYPE html>
<html lang="ko">
  <head>
  
  	<title>보비 메인</title>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link href="/css/b_top-bottom.css" rel="stylesheet">	

    <!--JS-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--script src="/js/materialize.js"></script-->
    
    <style>
    	@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
    </style>
	
	<!-- 메뉴토글 -->
	<script>
	$(document).ready(function(){
	    $("#menu-bar").click(function(){
	        $("#menu").toggle();
	    });
	});
	</script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119253391-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-119253391-1');
	</script>

	     
  </head>

<body>

	<header>
		<div class="container">
			<div class="col-xs-4" align="left"><a href="/"><img class="img-responsive" src="/page_imgs/b-logo.png"></a></div>
			<div class="col-xs-8" align="right"><h5><b>
			<a href="/"><span>서비스소개</span></a>
			<a href="/uguide"><span>사용설명서</span></a>
			<a href="/conlist"><span>콘텐츠</span></a>
			</b></h5></div>
		</div>
	</header>
	<div id="mob-header">
		<div class="header">
			<div class="col-xs-6 logo" align="left"><a href="/"><img class="img-responsive" src="/page_imgs/b-logo.png"></a></div>
			<div class="col-xs-6 menu-bar" align="right"><img id="menu-bar" class="img-responsive" src="/page_imgs/mob-menu-bar.png"></div>
			<div id="menu" class="col-xs-12" align="center" style="padding:0">
				<h5><b>
				<a href="/"><p>서비스소개</p></a>
				<a href="/uguide"><p>사용설명서</p></a>
				<a href="/conlist"><p>콘텐츠</p></a>
				</b></h5>
			</div>
		</div>
	</div>	
		  	
</body>
</html>
