<!DOCTYPE html>
<html lang="ko">
  <head>
  
  	<title>보비 사용설명서</title>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link href="/css/b_uguide.css" rel="stylesheet">
	
    <!--JS-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--script src="/js/materialize.js"></script-->
   
 	<style>
    	@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
    </style>
     
  </head>

<body>
	<% include b_top %>
	
	<div class="main-bg">
		<div class="container">
			<h2>나만의 보험비서란?</h2>
			<h4>개인비서와 함께</h4>
			<h3 class="font1">
				나만을 위한 개인비서가 있다면 얼마나 편할까?<br>
				당신만을 위한 비서를 만나보세요!
			</h3>
		</div>
	</div>
	<div class="userguide-info">
		<div class=" info1">
		<div class="container">
			<div class="col-sm-6 col-xs-12" align="right">
				<h3 class="font1">한 손에 쏙 들어오는 내 보험내역!</h3>
				<p>내 보험내역을 한번에 확인할 수 있어요!<br>
				내용적인 부분을 좀 더 채우면 좋을듯!<br>
				설명을 더 자세히 해도 좋을듯~
				</p>	
			</div>		
			<div class="col-sm-6 col-xs-12" align="center"><img class="img-responsive" src="/page_imgs/uguide-phone1.png"></div>
		</div>
		</div>
		<div class="bg-ec">
		<div class="info2" align="center">
		<div class="container">
			<div class="col-sm-6 col-xs-12">
				<h3 class="font1">중간제목같은거 들어가면 좋을듯</h3>
				<p>전문가 추천 리스트를 통해<br>
				원하는 검증된 전문가를 선택해<br>
				상담받을 수 있어요
				</p>
				<img class="img-responsive" src="/page_imgs/uguide-phone2.png">	
			</div>		
			<div class="col-sm-6 col-xs-12">
				<h3 class="font1">중간제목같은거 들어가면 좋을듯</h3>
				<p>전문가를 직접 선택할 수 있어요!<br>
				내 생각만으로<br>
				어쩌고 저쩌고...
				</p>
				<img class="img-responsive" src="/page_imgs/uguide-phone3.png">	
			</div>
		</div>
		</div>
		</div>
		<div class="info3">
			<div class="container">
				<div class="col-sm-6 col-xs-12" align="right">
					<h3 class="font1">질문 몇 가지면 당신에게 맞춤형!</h3>
					<p>간단한 질문을 통해<br>
					자신에게 꼭 맞는 보험 추천을 받을 수 있어요.
					</p>	
					</div>
				<div class="col-sm-6 col-xs-12" align="center"><img class="img-responsive" src="/page_imgs/uguide-phone4.jpg"></div>
			</div>
		</div>
		<div class="bg-ec">
		<div class="container info4">
			<div class="col-sm-6 col-xs-12" align="center"><img class="img-responsive" src="/page_imgs/uguide-phone5.png"></div>
			<div class="col-sm-6 col-xs-12" align="left">
				<h3 class="font1">보험을 쉽게 업데이트 할 수 있어요!</h3>
				<p>간단한 문구가 들어가면<br>
				좋을거 같은 부분입니다.
				</p>
				<a href="/"><span><b><br>2006년 이전 보험 가이드라인 보기 ☞</b></span></a>
			</div>
		</div>
		</div>						
	</div>
	<div class="appdown-bg">
		<div class="container">
			<h3 align="center">App Download</h3>
			<p align="center">___</p>
			<h5 align="center">
				가입된 보험 현황을 통한 맞춤 진단 컨설턴트!<br>
				채팅을 통해 부담 없이 원하는 상담을 받아보세요!
			</h5>
			<div class="col-xs-6" align="right"><img class="img-responsive" src="/page_imgs/app-android.png"></div>
			<div class="col-xs-6" align="left"><img class="img-responsive" src="/page_imgs/app-ios.png"></div>
		</div>
	</div>
 	<% include b_bottom %> 
</body>
</html>
