<script>
$( document ).ready(function(){
	$(".button-collapse").sideNav();
})
</script>

<style>
	.side-nav a{
	height:50px;
	line-height:50px;
	}
</style>
<nav class="teal lighten-3" role="navigation">
    <div class="nav-wrapper">
      <a href="/adm" class="brand-logo"><img class="img-responsive" src="/page_imgs/b-logo.png" style="width:80px; margin-top:6px; margin-left:15px;"><span style="font-size:10pt; color:#0a4e63;"> 관리자</span></a>


      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
      	<li><a href="http://mybobby.co.kr">홈페이지</a></li>
        <li <% if(data == 0) { %> class="active" <% } %> > <a href="/adm/index">인기콘텐츠</a></li>
		<li <% if(data == 1) { %> class="active" <% } %> > <a href="/adm/contents">콘텐츠</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
      	<li><a href="/logout">홈페이지</a></li>
        <li <% if(data == 0) { %> class="active" <% } %> > <a href="/adm/index">인기콘텐츠</a></li>
		<li <% if(data == 1) { %> class="active" <% } %> > <a href="/adm/contents">콘텐츠</a></li>
      </ul>
    </div>
  </nav>

