<!DOCTYPE html>
<html>
  <head>
    <title>보비 관리자</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"-->
    
    <link rel='stylesheet' href='/css/materialize.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	  <script src="/js/materialize.js"></script>
    <script type="text/javascript" src="/smart_editor/js/HuskyEZCreator.js" charset="utf-8"></script>
    
    <link rel="shortcut icon" href="/page_imgs/favicon.ico"/>
    <link rel="icon" href="/page_imgs/favicon.ico"/>

  </head>
  <body>
  </body>
</html>
