/*b_main 스타일*/
.main-bg{width:100%; height:500px; padding:200px 0; background-size: cover; background-image: url("/page_imgs/b-main-bg.jpg"); background-repeat:no-repeat;}
.service-info .bg-ec{background-color:#ececec;}
.service-info .info1{height:500px; padding-top:100px;}
.service-info .info1 h3{color:#0794be; margin-top:100px}
#mob-info1-text{display:none}
.service-info .info2{height:600px; padding-top:100px}
.service-info .info2 h3{color:#0794be; margin-top:100px}
.service-info .info2-in{background-color: rgba(255,255,255,0.6); padding:20px 0; position:relative; bottom:200px;}
.service-info .info2-in img{margin-bottom:15px}
.service-info .info3{padding:0 0 150px 0;}
.service-info .info3 h3{color:#0794be;}
.service-info .info3 .balloon{
margin-top:100px;	
position: relative;
width: 60%;
height: auto;
padding: 20px;
background: #ececec;
border-radius: 20px;
box-shadow:3px 3px 20px #ccc}
.service-info .info3 .balloon:after{
content: '';
position: absolute;
left: 0;
top: 50%;
width: 0;
height: 0;
border: 20px solid transparent;
border-right-color: #ececec;
border-left: 0;
margin-top: -20px;
margin-left: -20px;}


@media all and (max-width:1024px) {
.service-info .info3 .balloon{width:90%;}	
}


@media all and (max-width:765px) {
.main-bg{height:400px; padding:120px 0}
.service-info .info1{padding-top:0}
.service-info .info1 h3{margin-top:70px}
.service-info .info1 img{height:300px; margin-top:24px}
#mob-info1-text{display:block}
#web-info1-text{display:none}
.service-info .info2{padding-top:0;}
.service-info .info2 img{height:370px; margin-top:34px;}
.service-info .info2 h3{margin-top:70px;}
.service-info .info2 h3, p{text-align:center;}
.service-info .info2-in{padding:0 0 20px 0; bottom:310px; position:initial}
.service-info .info2-in p{margin-top:20px}
.service-info .info3{padding:40px 0;}
.service-info .info3 h3, p{text-align:center;}
.service-info .info3 .balloon{
margin-top:-100px;	
width: 100%;
}
.service-info .info3 .balloon:after{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #ececec;
	border-top: 0;
	margin-left: -20px;
	margin-top: -20px;
}
	
	
}