/*b_uguide 스타일*/
.main-bg{width:100%; height:350px; padding:120px 0; color:#fff; background-size: cover; background-image: url("/page_imgs/b-uguide-bg.jpg"); background-repeat:no-repeat;}
.userguide-info .bg-ec{background-color:#ececec}
.userguide-info .info1{height:600px; padding-top:100px;}
.userguide-info .info1 h3{margin-top:100px;}
.userguide-info .info2{padding:50px 0;}
.userguide-info .info2 .container{width:60%}
.userguide-info .info2 img{margin-top:40px;}
.userguide-info .info3{height:500px; padding-top:100px;}
.userguide-info .info3 h3{margin-top:100px}
.userguide-info .info4{padding:80px 0}
.userguide-info .info4 h3{margin-top:100px}
.userguide-info .info4 span{font-size:20px; border-bottom:2px solid #0794be; padding-bottom:4px}
.userguide-info .info4 a{color:#000}
.userguide-info .info4 a:hover{text-decoration:none}


@media all and (max-width:1024px) {
.userguide-info .info2 .container{width:80%}
}


@media all and (max-width:765px) {
.main-bg{height:300px; padding:80px 0;}
.userguide-info .info1{padding-top:0}
.userguide-info .info1 .container{padding:0 !important}
.userguide-info .info1 h3{margin-top:70px; text-align:center}
.userguide-info .info1 p{height:100px; text-align:center}
.userguide-info .info1 img{height:384px;}
.userguide-info .info2{padding:0 0 50px 0;width:100%}
.userguide-info .info2 .container{padding:0 !important; width:100%}
.userguide-info .info2 h3{margin-top:60px}
.userguide-info .info2 img{height:350px; margin-top:20px}
.userguide-info .info3{padding-top:0;}
.userguide-info .info3 .container{padding:0 !important}
.userguide-info .info3 h3{margin-top:60px; text-align:left}
.userguide-info .info3 p{height:65px; text-align:left}
.userguide-info .info3 img{height:300px; margin-top:29px}
.userguide-info .info4{padding:60px 0}
.userguide-info .info4 h3{margin-top:20px}
.userguide-info .info4 span{font-size:16px;}


}